h1 { color: gold; }

body {
	background: black;
	color: white;
	font-size: 24pt;
	font-family: 'Indie Flower', cursive; }
	
nav li {
	display: inline-block;
	border: 2px black;
	background: black;
	padding: 10px;
	margin: 20px; }
	
t01 {
    border: 10px white;
    border-collapse: collapse; }
th  {
	padding: 5px;
	text-align: left;
	color: gold }

 td {
    padding: 5px;
    text-align: left; }

	

